{% extends "base.html" %}
{% block title %} {{ super() }} - Home{% endblock %}
{% block content %}
    <div class="container">
      
      <!-- Main component welcoming the user -->
      <div class="jumbotron">
        <h1>Hello There!</h1>
        <p>Here at TrueStories we are dedicated to gather all stories and list them online in a nice orderly fashion!</p>
        <p>
          <a class="btn btn-lg btn-primary" href="{{ url_for('stories') }}" role="button">Show me the stories &raquo;</a>
        </p>
      </div>

    </div> <!-- /container -->
{% endblock %}