{% extends "base.html" %}
{% block title %} {{ super() }} - Stories{% endblock %}
{% block content %}
    <div class="container">
      <!-- A list of stories to show to the user -->
      <div class="jumbotron">
        <h1>Our Stories</h1>
        <p>
          <table class="table table-striped">
            <thead>
              <tr><th>Story Name</th><th>User</th></tr>
            </thead>
            <tbody>
              <tr><td></td><td></td></tr>
            </tbody>
          </table>
        </p>
      </div>
    </div> <!-- /container -->
{% endblock %}